<app-ar-viewer
  *ngIf="isBrowser && modelUrl"
  [attr.src]="modelUrl"
  [attr.ios-src]="modelUrl"
  alt="3D model"
  ar
  ar-modes="webxr scene-viewer quick-look"
  auto-rotate
  camera-controls
  disable-tap
  touch-action="pan-y"
  interaction-prompt="none"
  camera-orbit="0deg 75deg 2.5m"
  min-camera-orbit="auto 75deg auto"
  max-camera-orbit="auto 75deg auto"
  style="width: 100vw; height: 90vh; background: black"
>
</app-ar-viewer>

<div *ngIf="isBrowser && modelUrl" style="text-align: center; margin-top: 1rem">
  <button
    (click)="enterAR()"
    style="
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      background: #28a745;
      color: white;
      border-radius: 8px;
      cursor: pointer;
    "
  >
    View in AR
  </button>
</div>

<div style="color: black; padding: 1rem; font-weight: bold">
  isBrowser: {{ isBrowser }}<br />
  modelUrl: {{ modelUrl }}
</div>
